.App {
  background-color: #121D2B;
  color: #EFEEEE;
  text-align: center;
}

.here-link {
  font-weight: bolder;
}

.logout-link {
  font-weight: bolder;
}

#checkbox-p {
  color: #D3FF82;
}

#username-label {
  background-color: #111B1C;
  color: #D3FF82;
}

#email-label {
  background-color: #111B1C;
  color: #D3FF82;
}

#password-label {
  background-color: #111B1C;
  color: #D3FF82;
}

#login-signup-button {
  background-color:  #D3FF82;
}

#dob-label {
  background-color: #111B1C;
  color: #D3FF82;
}

#address-label {
  background-color: #111B1C;
  color: #D3FF82;
}

#phone-number-label {
  background-color: #111B1C;
  color: #D3FF82;
}

#emergency-label {
  background-color: #111B1C;
  color: #D3FF82;
}

#about-label {
  background-color: #111B1C;
  color: #D3FF82;
}

#event-dropdown-div {
  padding-top: 10px;
}

#new-event-header {
  color: #D3FF82;
}

#new-event-form {
  background-color: #363D52;
}

#new-event {
  background-color: #363D52;
}

#event-name {
  background-color: #111B1C;
  color: #D3FF82;
}

#event-organizer {
  background-color: #111B1C;
  color: #D3FF82;
}

#event-location {
  background-color: #111B1C;
  color: #D3FF82;
}

#date-of-event {
  background-color: #111B1C;
  color: #D3FF82;
}

#add-event {
  background-color: #111B1C;
  color: #D3FF82;
}

#card-content-event-list {
  background-color: #111B1C;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#new-status {
background-color: #363D52;
}

#new-status-header {
  color: #D3FF82
}

#new-status-form {
  background-color: #363D52;
}

#status-label {
  background-color: #111B1C;
  color: #D3FF82;
}

#post-status {
  background-color: #111B1C;
  color: #D3FF82;
}